.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.parteA {
    font-family: GreatVibes;
    font-size: 18px;
    line-height: 1.6;
    color: #4b5563;
}

